#error-404-section {
    h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px #333;
    }
    a {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-shadow: 2px 2px #333;
    }
    }